.card-container {
    width: 250px;
    border: 1px solid #31363c;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
  }
  
  .card-id {
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    padding: 3px;
    font-family:Arial, Helvetica, sans-serif;
  }
  
  .card-title {
    display: inline;
    color: #bdd6e3;
  }
  
  .card-cost {
    margin-top: 15px;
    color: #bdd6e3;
  }
  
  .card-container:hover {
    background-color: #202125;
  }

  .card-cartegory{
    color: #bdd6e3;
  }